.page-header {
    background-color: lightpink;
    color: white;
    font-size: large;
    font-family: "Comic Sans", sans-serif;
    font-size: 36px;
    text-align: center;
}

a {
    color: rgb(255, 122, 142);
}